<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация танцора</title>
    <link type="text/css" rel="stylesheet" href="../../main/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../main/css/style.css">
    <script src="../../main/js/jquery.min.js"></script>
</head>
<body>
<div id="wrap">

    [navigation]

    
    <div class="blue_line">
    <div class="resize">
        <section class="cont_block">
            <div class="head">
                <h2>Регистрация танцоров 3vs3</h2>
            </div>
            <div class="form_in">
                <form method="post" action="record" enctype="multipart/form-data">
                    <label for="info_news"><input name="content" id="info_news" type="text" placeholder="Город "></label>
                    <label for="info_news"><input name="content" id="info_news" type="text" placeholder="Команда"></label>
                    <label for="info_news"><input name="content" id="info_news" type="text" placeholder="Тренер"></label>
                    <label for="info_news">
                        <select name="" id="">
                            <option value="" selected="">Танцевальный уровень</option>
                            <option value="">1 мес.</option>
                            <option value="">2 мес.</option>
                            <option value="">3 мес.</option>
                            <option value="">4 мес.</option>
                        </select>
                    <input name="content" id="info_sec" type="text" placeholder="Танцевальный уровень"></label>
                    <label class="pat pat1" for="nazva_news">1. Танцор<input name="title" id="nazva_news" type="text" placeholder="Фамилия"><input name="short_content" id="korotko_news" type="text"
                    placeholder="Имя"><input name="content" id="info_news" type="text" placeholder="Отчество">
                    <select>
                        <option selected>Год рождения</option>
                        <option>1990</option>
                        <option>1991</option>
                        <option>1992</option>
                        <option>1993</option>
                        <option>1994</option>
                        <option>1995</option>
                        <option>1996</option>
                        <option>1997</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>2000</option>
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                        <option>2005</option>
                    </select>
                    <input name="content" id="info_sec" type="text">
                </label>
                <label class="pat pat2" for="nazva_news">2. Танцор<input name="title" id="nazva_news" type="text" placeholder="Фамилия"><input name="short_content" id="korotko_news" type="text"
                    placeholder="Имя"><input name="content" id="info_news" type="text" placeholder="Отчество">
                    <select>
                        <option selected>Год рождения</option>
                        <option>1990</option>
                        <option>1991</option>
                        <option>1992</option>
                        <option>1993</option>
                        <option>1994</option>
                        <option>1995</option>
                        <option>1996</option>
                        <option>1997</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>2000</option>
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                        <option>2005</option>
                    </select>
                    <input name="content" id="info_sec" type="text">
                </label>
                <label class="pat" for="nazva_news">3. Танцор<input name="title" id="nazva_news" type="text" placeholder="Фамилия"><input name="short_content" id="korotko_news" type="text"
                    placeholder="Имя"><input name="content" id="info_news" type="text" placeholder="Отчество">
                    <select>
                        <option selected>Год рождения</option>
                        <option>1990</option>
                        <option>1991</option>
                        <option>1992</option>
                        <option>1993</option>
                        <option>1994</option>
                        <option>1995</option>
                        <option>1996</option>
                        <option>1997</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>2000</option>
                        <option>2001</option>
                        <option>2002</option>
                        <option>2003</option>
                        <option>2004</option>
                        <option>2005</option>
                    </select>
                    <input name="content" id="info_sec" type="text">
                </label>
                <label id="add_pat" for="">Добавить участника</label>
                    <label for="go"><input id="go" type="submit" name="submitik" value="Создать"></label>
                </form>
            </div>
        </section>
        <!-- Evant -->
    </div>
        <!-- popup -->
        <div id="overlay"></div>
        <div id="popup">
            <div class="header"><h2>Наши контакты</h2></div>
            <div class="content">
                <div class="kontakt_tel">
                    <p>+380-999-911-111</p>
                    <p>e-mail: hakaton@gmail.com</p>
                </div>
                <div class="soc_icon">
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="main/js/../../script.js"></script>
</body>
</html>

