<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="main/css/reset.css">
    <link rel="stylesheet" type="text/css" href="main/css/style.css">
    <script src="main/js/jquery.min.js"></script>
    <link href="main/css/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--<link href="main/js/jquery.min.js">-->
    <!--<link href="main/js/script.js">-->
    <style>
        @font-face {
            font-family: Open Sans;
            src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
        }
    </style>
</head>
<body>
<div id="wrap">
<div class="resize">
    <main class="main">
    
        <label for="">
            <img src="" alt="">
            <p>Логотип</p>
        </label>
        
        [navigation]
        
    </main>
    </div>
</div>
<div class="resize">
<div class="mainpage_background clr">
    <div class="mainwrapper clr">
        <p class="title">название компании</p>
        <p class="company_description">Lorem ismpum sanctus Lorem ismpum sanctus Lorem ismpum sanctus Lorem ismpum
            sanctus Lorem ismpum sanctus</p>
    </div>
</div>
<div class="blue_line">
    <div class="mainwrapper company_info">
        <h1>Что мы предлагаем?</h1>
        <p id="ppp">Lorem ismpum sanctus Lorem ismpum sanctus Lorem ismpum sanctus Lorem ismpum sanctus Lorem ismpum
            sanctus Lorem ismpum sanctus Lorem ismpum sanctus Lorem ismpum sanctus</p>
        <div class="info_container clr" id="cont">
            <div class="info_sections">
                <img src="images/Button-power-icon.png">
                <p>on-line <br> регистрация</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia</p>
            </div>
            <div class="info_sections">
                <img src="images/list.png" alt="">
                <p>формирование списков учасников</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia</p>
            </div>
            <div class="info_sections">
                <img src="images/random.png" alt="">
                <p>автоматическая жеребьевка</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia</p>
            </div>
            <div class="info_sections">
                <img src="images/award.png" alt="">
                <p>генерация результатов</p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia</p>
            </div>

        </div>
    </div>
    <div class="blue_line">
        <div class="mainwrapper" id="registration_form">
            <h2 class="registration_form_title">Регистрация на сайте</h2>
            <form class="registration_form clr" method="post" action="registration">
                <label>
                    Как Вас зовут?
                    <input class="registration_form_highlight" type="text" placeholder="Имя Фамилия" name="user_name">
                </label>
                <label>
                    Придумайте логин
                    <input class="registration_form_highlight" type="text" placeholder="Ваш логин" name="user_login">
                </label>
                <label>
                    Придумайте пароль
                    <input class="registration_form_highlight" type="password" placeholder="Ваш пароль"
                           name="password_1">
                </label>
                <label>
                    Повторите пароль
                    <input class="registration_form_highlight" type="password" placeholder="Ваш пароль"
                           name="password_2">
                </label>
                <label>
                    Ваш email
                    <input class="registration_form_highlight" type="email" placeholder="example@mail.com"
                           name="user_email">
                </label>
                <label>
                    Откуда Вы?
                    <input class="registration_form_highlight" type="text" placeholder="Страна" name="user_country">
                </label>
                <label>
                    Ваш номер телефона
                    <input class="registration_form_highlight" type="tel" placeholder="380971234567" name="user_phone">
                </label>
                <label>
                    <input type="submit" value="Зарегистрироваться" name="registration_submit">
                </label>
                <input type="hidden" name="redirect" value="">
            </form>
        </div>
    </div>

    <!-- log in -->
    <div id="overlay_log"></div>
    <div class="form_log">
        <form method="POST" action="login">
            <label for="login_in"><input name="log_in" id="login_in" type="login"
                                         placeholder="Введите логин"></label>
            <label for="password_in"><input name="pass_in" id="password_in" type="password"
                                            placeholder="Введите пароль"></label>
            <label><input name="login_sub" id="login_sub" type="submit" value="Войти"></label>
            <input name="redirect" type="hidden" value="home">
            <a href="home#registration_form" class="reg">Зарегистрироватся</a>
        </form>
    </div>

    <!-- popup -->
    <div id="overlay"></div>
    <div id="popup">
        <div class="header"><h2>Наши контакты</h2></div>
        <div class="content">
            <div class="kontakt_tel">
                <p>+380-999-911-111</p>
                <p>e-mail: hakaton@gmail.com</p>
            </div>
            <div class="soc_icon">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
    

</div>
</div>
<script src="main/js/script.js"></script>
</body>
</html>