 .resize{
	max-width:1400px;
	margin:0 auto;
	background-color:#1E90FF;
	height:3000px;
}
#wrap{

}
body, p{
	font: 13px/1.5 Helvetica, sans-serif;
	color:white;
}
.main{
	z-index:999;
	position:fixed;
	top:0;
	width:100%;
	background:#000;
	height:48px;
	box-shadow: 0 0 0 rgba(0,0,0, 0.3);
}
.main .nav{
	float:right;
}
.nav a{
	font-size:14px;
	color:white;
}
.nav li{
	float:left;
}
.nav li a{
	display:block;
	padding:15px;
}
.nav li:last-child{
	margin-right:50px;
}
.main label{
	float:left;
	padding:15px;
	height:100%;
}
.form_log a{
	display:block;
	width:90%;
	}
.form_log{
	z-index: 995;
	display:none;
	position:absolute;
	float:right;
	right:50px;
	top:60px;
	width:300px;
	height:220px;
	border-radius:10px;
	background:#1E90FF;
}
.form_log form{
	margin-top:10px;
}
.form_log label{
	width:70%;
	padding:10px;
	margin:15px auto 0;
	display:block;
	color:white;
	cursor:pointer;
	background:white;
}
.form_log label a{
	text-align:center;
}
.form_log label:nth-child(3){
	background:#32CD32;
}
.form_log .reg{
	background:none;
	width:130px;
	margin-left:35px;
	padding-top:10px;

}
.form_log .reg:hover{
	transition:border-bottom 0.5s;
}
.form_log input{
	width:70%;
	font-size:14px;
	border:0;
	display:block;
	background-color:rgba(0,0,0,0);
}

 #overlay {
     display: none;
     position: fixed;
     z-index: 990;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     cursor: pointer;
 }

 #popup {
     display: none;
     position: fixed;
     z-index: 995;
     left: 45%;
     top: 50%;
     margin: -80px 0 0 -150px;
     width: 500px;
     background: white;
     border-radius: 10px;
 }

 #popup .header {
     padding: 6px 12px;
     font-weight: bold;
     background: #1E90FF;
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7);
 }

 #popup .content {
     padding: 12px;
     height: 220px;
 }

 #popup .buttons {
     margin: 0;
     padding: 6px 12px 16px;
     text-align: center;
 }

 #popup .buttons a {
     display: inline-block;
     padding: 2px 20px;
     border: 1px solid #000;
 }

 #overlay_log {
     display: none;
     position: fixed;
     z-index: 990;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     cursor: pointer;
 }

 #popup .header h2{
	color:white;
	text-align:center;
	font-size:35px;
}
#popup .kontakt_tel{
	margin:0 auto;
}
#popup .kontakt_tel p{
	display:block;
		color:#1E90FF;
		text-align:center;
		font-size:40px;
}
#popup .kontakt_tel p:before{

	content:"";
	width:24px;
	height:24px;
	background:url(../img/75phone.png);
}
#popup .soc_icon{
	padding:30px;
}
#popup .soc_icon ul{
	width:285px;
	margin:0 auto;
}
#popup .soc_icon ul li{
	float:left;
	margin:0 auto;
}
#popup .soc_icon a{
	display:block;
	width:80px;
	height:80px;
	margin-left:15px;
	background:white;
}
#popup .soc_icon ul li:nth-child(1) a{
	background:url(../img/facebook.png);
}
#popup .soc_icon ul li:nth-child(2) a{
	background:url(../img/g+.png);
}
#popup .soc_icon ul li:nth-child(3) a{
	background:url(../img/twitter.png);
}
.resize .create_news{
	position:relative;
	top:100px;
	width:50%;
	margin:0 auto;
	border-radius:10px;
	background:white;
}
.head h2{
	font-size:35px;
	padding:20px;
	text-align:center;
	color:white;
	box-shadow:0 3px 5px rgba(0,0,0,0.7);
}
.create_news .head{
	background:#555;
}
.create_news{
		border-radius:10px;
}
.form_in form{
	margin-top:20px;
	padding-bottom:50px;
}
.form_in label{
	width:70%;
	padding:10px;
	margin:15px auto 0;
	display:block;
	color:#1E90FF;
	cursor:pointer;
	background:white;
	border:1px solid #1E90FF;
}
.form_in label:last-child{
	text-align:center;
}
.form_in label:last-child{
	background:#32CD32;
	border:none;
}
.form_in label:nth-child(2){
	border:none;
}
.form_in input{
	width:70%;
	font-size:14px;
	border:0;
	display:block;
	background-color:rgba(0,0,0,0);
}
.form_in{
	padding-bottom:20px;
}
#jereb_run{
	font-size:30px;
}
.spusok{
	margin-left:25px;
	padding:20px;
}
.spusok li{
	padding:10px;
}
.form_math ul{
	width:250px;
}
.cenu ul{
	float:right;
	margin-top:-790px;
}
.form_math form,.cenu{
	margin-top:20px;
	padding-bottom:50px;
}
.form_math label, .cenu li{
	width:80%;
	padding:10px;
	margin-bottom:10px;
	display:block;
	color:#1E90FF;
	cursor:pointer;
	background:white;
	border:1px solid #1E90FF;
}
.form_math input, .cenu input{
	width:70%;
	font-size:20px;
	border:0;
	display:block;
	background-color:rgba(0,0,0,0);
}
.form_math,.cenu li{
	padding-bottom:20px;
}
.form_math .last_button{
	text-align:center;
	margin:0 auto;
	width:70%;
	background:#32CD32;
}
.cenu{
	padding-top:20px;
	float:right;
	display:none;
}
.cenu input{
	padding-top:4px;
	width:100%;
}
.the_final_6 {
    display: none;
    z-index: 100;
    width: 500px;
    min-height: 600px;
    background: white;
    border: solid 5px rgb(30, 144, 255);
    color: rgb(30, 144, 255);
    position: fixed;
    top: 50px;
    margin-left: 50%;
    left: -300px;
}
.the_final_6 ul{
	margin:0 auto;
}

.the_final_6 li {
    list-style: decimal;
}

.the_final_6 li:last-child {
    list-style: none;
}
 .clear:after{
     content:"";
     clear:both;
     display:block;
     height:20px;
 }