<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../../main/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../main/css/style.css">
    <script src="../../main/js/jquery.min.js"></script>
</head>
<body>
<div id="wrap">
    <nav class="main">
        <label for="">
            <img src="" alt="">
            <p>Логотип</p>
        </label>
        [navigation]
    </nav>
    <main class="resize">
        <!-- Evant -->
        <section class="event">
            <div class="head">
                <h2>легенди танцю</h2>
            </div>
            <article class="open_event">
                <div class="icon1">
                    <h2>Дата час:</h2>
                    <p>19 вересня 2016</p>
                    <p>з 14:00 до 21:45</p>
                </div>
                <div class="icon2">
                    <h2>Вид змагання:</h2>
                    <p>Рейтингові змагання ХОАСТ</p>
                </div>
                <div class="icon3">
                    <h2>Місце проведення:</h2>
                    <p>Україна м.Хмельницький</p>
                    <p>сто-метровка</p>
                </div>
                <article class="bg_img_event">
                    <h2>Хмельницкая обласная асоцыация спортивного танца</h2>
                </article>
                <div class="icon4">
                    <h2>Головний судя:</h2>
                    <p>Іванов Василій</p>

                    <h2>Скутинер:</h2>
                    <p>Річі Гатано</p>
                </div>
                <p><strong>Опис події:</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
                <form action="">
                    <p><label for=""><input name="reg_participant" type="submit" value="Заповнити заявку на участь"></label></p>
                </form>
            </article>
        </section>





        <!-- popup -->
        <div id="overlay"></div>
        <div id="popup">
            <div class="header"><h2>Наши контакты</h2></div>
            <div class="content">
                <div class="kontakt_tel">
                    <p>+380-999-911-111</p>
                    <p>e-mail: hakaton@gmail.com</p>
                </div>
                <div class="soc_icon">
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="../../main/js/script.js"></script>
</body>
</html>
