<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="../../main/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../main/css/style1.css">
    <script src="main/js/jquery.min.js"></script>
</head>
<body>
<div id="wrap">
    <main class="main">
        <div class="resize">
        <label for="">
            <img src="" alt="">
            <p>Логотип</p>
        </label>
        [navigation]
        </div>
    </main>
    <div class="resize">
        <!-- Evant -->


        <!-- popup -->
        <div id="overlay"></div>
        <div id="popup">
            <div class="header"><h2>Наши контакты</h2></div>
            <div class="content">
                <div class="kontakt_tel">
                    <p>+380-999-911-111</p>
                    <p>e-mail: hakaton@gmail.com</p>
                </div>
                <div class="soc_icon">
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="main/js/script1.js"></script>
</body>
</html>
