<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link href="main/css/style.css" type="text/css" rel="stylesheet">
    <script src="main/js/jquery.min.js"></script>
</head>
<body>
<div id="wrap">
    <main class="main">
        <label for="">
            <img src="" alt="">
            <p>Логотип</p>
        </label>
            [navigation]
    </main>
    <div class="resize">
        <div class="slider">
            <!--<button id="prev"><img src="main/img/left.png" alt=""></button>-->
            <div id="circle">
                <div class="go">
                    <section>text01</section>
                    <section>text02</section>
                    <section>text03</section>
                    <section>text04</section>
                </div>
                <div class="go">
                    <section>text05</section>
                    <section>text06</section>
                    <section>text07</section>
                    <section>text08</section>
                </div>
                <div class="go">
                    <section>text09</section>
                    <section>text10</section>
                    <section>text11</section>
                    <section>text12</section>
                </div>
            </div>
        </div>
        <!-- log in -->
        <div id="overlay_log"></div>
        <div class="form_log">
            <form>
                <label for="login_in"><input id="login_in" type="login" placeholder="Введите логин"></label>
                <label for="password_in"><input id="password_in" type="password" placeholder="Введите пароль"></label>
                <label for=""><a href="#">Войти</a></label>
                <a href="#" class="reg">Зарегистрироватся</a>
            </form>
        </div>

        <!-- popup -->
        <div id="overlay"></div>
        <div id="popup">
            <div class="header"><h2>Наши контакты</h2></div>
            <div class="content">
                <div class="kontakt_tel">
                    <p>+380-999-911-111</p>
                    <p>e-mail: hakaton@gmail.com</p>
                </div>
                <div class="soc_icon">
                    <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="prev"><img src="main/img/left.png"></a>
<a href="#" class="next"><img src="main/img/right.png"></a>
<!--POP-UP-->
<div id="overlay1"></div>
<div id="popup-news">
    <div class="header">Заголовок новости</div>
    <div class="text">Текст новости</div>
    <p class="buttons"><a href="#">Ok</a></p>
</div>

<script type="text/javascript" src="main/js/script.js"></script>
<!--<link rel="stylesheet" href="main/css/reset.css">-->
</body>
</html>