<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новость</title>
    <link href="../main/css/reset.css" type="text/css" rel="stylesheet">
    <link href="../main/css/style.css" type="text/css" rel="stylesheet">
    <script src="../main/js/jquery.min.js"></script>
</head>
<body>
<div id="wrap">

    [navigation]
    [single_news]

    <!-- log in -->
    <div id="overlay_log"></div>
    <div class="form_log">
        <form method="POST" action="../login">
            <label for="login_in"><input name="log_in" id="login_in" type="login"
                                         placeholder="Введите логин"></label>
            <label for="password_in"><input name="pass_in" id="password_in" type="password"
                                            placeholder="Введите пароль"></label>
            <label><input name="login_sub" id="login_sub" type="submit" value="Войти"></label>
            <input name="redirect" type="hidden" value="news">
            <a href="home#registration_form" class="reg">Зарегистрироватся</a>
        </form>
    </div>

    <!-- popup -->
    <div id="overlay"></div>
    <div id="popup">
        <div class="header"><h2>Наши контакты</h2></div>
        <div class="content">
            <div class="kontakt_tel">
                <p>+380-999-911-111</p>
                <p>e-mail: hakaton@gmail.com</p>
            </div>
            <div class="soc_icon">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="../main/js/script.js"></script>
</body>
</html>