<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="Hakaton/main/css/style.css" type="text/css" rel="stylesheet">
    <script src="Hakaton/main/js/jquery.min.js"></script>
</head>
<body>
<div class="slider">
    <!--<button id="prev"><img src="main/img/left.png" alt=""></button>-->
    <div id="circle">
        <div class="go">
            <button class="prev"><img src="main/img/left.png" alt=""></button>
            <section>text1</section>
            <section>text2</section>
            <section>text3</section>
            <section>text4</section>
            <button class="next">
            </button>
        </div>
        <div class="go">
            <button class="prev"><img src="main/img/left.png" alt=""></button>
            <section>text21</section>
            <section>text22</section>
            <section>text23</section>
            <section>text24</section>
            <button class="next"><img src="main/img/right.png" alt=""></button>
        </div>
        <div class="go">
            <button class="prev"><img src="main/img/left.png" alt=""></button>
            <section>text31</section>
            <section>text32</section>
            <section>text33</section>
            <section>text34</section>
            <button class="next"><img src="main/img/right.png" alt=""></button>
        </div>
    </div>
</div>

<script type="text/javascript" src="Hakaton/main/js/script.js"></script>
</body>
</html>
